.info {
    margin-left: 218px;
    padding: 82px 32px;
}

.info-heading {
    color: #4a4a4a;
    font-weight: 400;
    margin-bottom: 20px;
}

.info-heading__color {
    color: #00acc1;
}

.per-page {
    text-align: right;
}

.per-page ul {
    list-style: none;
}

.per-page ul li {
    display: inline-block;
    padding: 22px;
    color: #9b9b9b;
}

.per-page ul li:last-child {
    padding: 22px 0 22px 22px;
}

.per-page ul li:last-child a {
    padding: 0 18px;
}